input{

  width: 100px;
  height: 50px;
  background-color: beige;
  border: 20%;
  margin-left: 20%;
}


h1 {
    text-align: center;
    /* otros estilos */
  }
  h2 {
    text-align: center;
    /* otros estilos */
  }

  .bordesito{
    margin-left: 2%;
   
  }
  ul{
    display: flex;
    gap: 200px;
    list-style: none;
    justify-content: center;
  }
  
circle{
  stroke: gray;
  stroke-width: 8;
  stroke-dasharray: var(--porcentaje) 100;
  transform: rotate(-90deg);
  transform-origin: 50%;
  fill: darkgray;
}

.skills{
  display: flex;
  justify-content: space-around;
  
}
.skills{display: flex;
justify-content: space-around;
}

.cuadro {
  margin: auto;
  margin-top: 25;
  width: 78;
  height: 200vh;
  border-style: groove;
}

.img3 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
 
}
.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
 
}
.img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
 
}
body{
  border: 1px solid #000;
}


.bordesito2{
  margin: 25;
  height: 50vh;
  width: 78;
  
 
}

.contenedor{
  display: flex;

   }

  .mover1{
    position: absolute;
    left: px;
    bottom: 200px;
    
  }

    
.mover2{
  position: absolute;
  left: 635px;
  bottom: 185px;


}
.mover3{
  position: absolute;
  left: 930px;
  bottom: 200px;


}

.mover4{
  position: absolute;
  left: 750px;
  bottom: 200px;


}

